body {
  width: 100%;
}

form {
  width: 70%;
  border: 1px solid black;
  margin: 6em auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input {
  padding: 5px;
  font-size: 14px;
}

select {
  height: 25px;
  width:11em;
  font-size: 14px;
}

label {
  margin-right: 10px;
}

h2 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

button {
  width: 20%;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid
}

button:hover { 
  background-color: grey;
  color: white;
}

#deleteAnimal select {
  display: block;
  margin-top: 20px;
  width: 11em;
  height: 25px;
  padding: 10px;
}

#delete {
  margin-top: 20px;
}

header nav h1 {
  float: left;
  color: white;
}