/*****************
* Default Styling 
***/
    * {
        box-sizing: border-box;
    }

    body a {
        color: black;
        text-decoration: none;
    }


/*****************
* Navbar 
***/
    header {
        background: black;
        height: 5em;
        left: 0;
        line-height: 5em;
        position: fixed;
        top: 0;
        width: 100%;
    }

    header nav {
        margin: 0 auto;
        width: 60%;
    }

    header nav h1 {
        color: white;
        float: left;
    }

    header nav ul {
        float: right;
    }

    header nav ul li {
        display: inline-block;
    }

    header nav ul li a {
        color: white;
        display: block;
        padding: 0 0.5em 0 0.5em;
    }


/*****************
* Main 
***/
    /*****************
    * Home Section 
    ***/
        #home {
            background: red;
            margin-top: 12vh;
            height: 100vh;
            width: 100vw;
        }
        
        #home h1 {
            background: blue;
            display: block;
            margin: 0 auto;
            padding-bottom: 6em;
            padding-top: 6em;
            text-align: center;
            width: 50%;
        }

        #home h2 {
            background: green;
            display: block;
            margin: 0 auto;
            padding-bottom: 3em;
            padding-top: 3em;
            text-align: center;
            width: 50%;
        }

        #home a {
            background-color: yellow;
            border: .1em solid black;
            border-radius: 2px;
            display: block;
            margin: 5em auto;
            padding-bottom: .25em;
            padding-top: .25em;
            text-align: center;
            width: 50%;
        }