/*
    colors:
    charcoal: #303841
    neon blue: #00adb5
    silver: #eeeeee
    orange: #ff5722
 */

 @import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Arima+Madurai:100|Fredoka+One|Poiret+One');
 @import url('https://fonts.googleapis.com/css?family=Righteous');


/*****************
* Default Styling 
***/
    * {
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: #eeeeee;
        height: 100%;
        width: 100%;
    }

    body a {
        color: black;
        text-decoration: none;
    }
 
 
/*****************
* Navbar 
***/
    header {
        background: #303841;
        height: 5em;
        left: 0;
        line-height: 5em;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10000;
    }

    header section {
        margin: 0 auto;
        width: 75%;
    }

    header h1 {
        float: left;
    }
    
    header section h1 a {
        color: #00adb5;
        font-family: 'Fredoka One', cursive;
        font-size: 3em;
        -webkit-text-stroke-color: #ff5722;
        -webkit-text-stroke-width: 0.05em;
    }

    header section h1 a:hover {
        color: #ff5722;
        font-family: 'Fredoka One', cursive;
        font-size: 3em;
        -webkit-text-stroke-color: #00adb5;
        -webkit-text-stroke-width: 0.05em;
    }
    
    header nav {
        float: right;
    }
    header nav ul {
        float: right;
    }

    header nav ul li {
        display: inline-block;
    }

    header nav ul li a {
        color: #eeeeee;
        display: block;
        font-family: 'Poiret One', cursive;
        height: 5em;
        line-height: 5em;
        padding: 0 0.5em 0 0.5em;
    }

    header nav ul li a:hover {
        background-color: #00adb5;
        border-bottom: .1em solid #ff5722;
        color: #303841;
    }

/*****************
* Main 
***/
    main {
        margin-bottom: 5em;
        width: 100%;
    }

    #home, #info {
        font-family: 'Righteous', cursive;
        height: 100vh;
        margin-top: 12vh;
        width: 100%;
    }

    /*****************
    * Home Section 
    ***/
        #home #bgVid {
            left: 0;
            position: absolute;
            top: 5em;
            width: 100%;
            z-index: -10000;
        }
        
        #home h1 {
            color: rgba(238, 238, 238, .5);
            display: block;
            font-size: 3em;
            margin: 0 auto;
            padding: 2em 0;
            text-align: left;
            -webkit-text-stroke-color: #303841;
            -webkit-text-stroke-width: 0.05em;
            width: 50%;
            z-index: 1000;
        }

        #home h2 {
            color: rgba(238, 238, 238, .5);
            display: block;
            font-size: 2em;
            margin: 0 auto;
            padding: 1em 0;
            text-align: left;
            -webkit-text-stroke-color: #303841;
            -webkit-text-stroke-width: 0.05em;
            width: 50%;
            z-index: 1000;
        }

        #home section {
            height: 3em;
            line-height: 3em;
            margin: 0 auto;
            width: 50%;
        }

        #home section a:first-of-type {
            border: .1em solid black;
            border-radius: 2px;
            display: inline-block;
            /* float: left; */
            /* margin: 5em auto; */
            padding-bottom: .2em;
            padding-top: .2em;
            text-align: center;
            /* width: 50%; */
            z-index: 1000;
        }

        #home section a:last-of-type {
            border: .1em solid black;
            border-radius: 2px;
            display: inline-block;
            /* margin: 5em auto; */
            /* float: right; */
            padding-bottom: .2em;
            padding-top: .2em;
            text-align: center;
            /* width: 50%; */
            z-index: 1000;
        }

  
    
    /*****************
    * Info Section 
    ***/
        #info h1 {
            display: block;
            margin: 0 auto;
            padding-bottom: 3em;
            padding-top: 6em;
            text-align: center;
            width: 50%;
        }

        #info section {
            margin: 0 auto;
            height: 45em;
            position: relative;
            width: 50%;
            z-index: -1000;
        }

        #info section div {
            border: .5em solid black;
            height: 15em;
            width: 15em;
        }

        #info section div:nth-of-type(1) {
            background-image: url("./../assets/images/puppy.jpg");
            background-size: cover;
            left: 0;
            position: absolute;
            top: 0;
        }

        #info section div:nth-of-type(2) {
            background-image: url("./../assets/images/bunny.jpg");
            background-size: cover;
            left: 24.5em;
            position: absolute;
            top: 15em;
        }

        #info section div:nth-of-type(3) {
            background-image: url("./../assets/images/kitten.jpg");
            background-size: cover;
            left: 0em;
            position: absolute;
            top: 30em;
        }

        #info section ol {
            border: .5em solid black;
            height: 15em;
            width: 24.5em;
        }

        #info section ol:nth-of-type(1) {
            left: 15em;
            position: absolute;
            top: 0em;
        }

        #info section ol:nth-of-type(2) {
            left: 0em;
            position: absolute;
            top: 15em;
        }

        #info section ol:nth-of-type(3) {
            left: 15em;
            position: absolute;
            top: 30em;
        }

        #info section ol li {
            padding: .25em;
            text-align: center;
        }


/*****************
* Footer 
***/
    body footer {
        background: #303841;
        height: 20em;
        left: 0;
        position: absolute;
        top: 125em;
        width: 100%;
    }

    footer section {
        margin: 0 auto;
        width: 70%;
    }

    footer section:first-of-type img {
        border: 1px solid black;
        float: right;
        margin-top: .75em;
        width: 25em;
    }

    footer section:first-of-type ul {
        height: 15em;
    }

    footer section:first-of-type ul li {
        color: #ff5722;
        font-family: 'Arima Madurai', cursive;
        font-size: .95em;
        line-height: 2.5em;
    }

    footer section:first-of-type ul li i {
        color: #00adb5;
        padding: 0 0.5em;
    }

    footer section:first-of-type ul li a{
        color: #ff5722;
    }

    footer section:last-of-type {
        color: #00adb5;
        margin-top: 2.75em;
        font-family: 'Fredoka One', cursive;
        font-size: 1em;
        -webkit-text-stroke-color: #ff5722;
        -webkit-text-stroke-width: 0.05em;

    }
